<div id="about-me" class="white" style="padding:4em 0">
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-lg-10">
				<h1>About me</h1>
				<hr>
				<div class="row">
					<div class="col-3 center" style="border-right:1px solid #ddd">
						<%= link_to about_timeline_index_path, class: "about-links" do %>
							Timeline
						<% end %>
					</div>
					<div class="col-3 center" style="border-right:1px solid #ddd">
						<%= link_to '#', class: "about-links" do %>
							FAQ
						<% end %>
					</div>
					<div class="col-3 center" style="border-right:1px solid #ddd">
						<%= link_to '#', class: "about-links" do %>
							Social Media
						<% end %>
					</div>
					<div class="col-3 center">
						<%= link_to '#', class: "about-links" do %>
							Resume
						<% end %>
					</div>
				</div>
				<hr>
				<div id="about-contents">
					<%= render 'about/timeline/index' %>
				</div>
			</div>
		</div>
	</div>
</div>
