<div class="container-fluid pending-container">
	<div class="info">
		<h1 class="center">
			Coming soon
		</h1>

		<h4 style="margin-top:1em;">
			Diego<br>
			<small>Diaz de Berenger</small>
		</h4>

		<%= link_to 'https://twitter.com/dd_de_b',
		    class: 'links', style: 'margin-left: 0px;' do %>
		    <%= fa_icon 'twitter' %><% end %>
		<%= link_to 'https://github.com/diaz-de-berenguer',
		    class: 'links' do %>
		    <%= fa_icon 'github' %><% end %>
		<%= link_to 'https://www.linkedin.com/in/ddiazdeberenguer/',
		    class: 'links' do %>
		    <%= fa_icon 'linkedin' %><% end %>
	</div>
</div>
