<div class="container-fluid pending-container">
	<div class="info">
		<div class="info-content">

			<h3 style="margin-top:1em;">
				Diego<br>
				<small>Diaz de Berenger</small>
			</h3>

			<%= link_to 'https://twitter.com/dd_de_b',
			    class: 'links', style: 'margin-left: 0px;' do %>
			    <%= fa_icon 'twitter' %><% end %>
			<%= link_to 'https://github.com/diaz-de-berenguer',
			    class: 'links' do %>
			    <%= fa_icon 'github' %><% end %>
			<%= link_to 'https://www.linkedin.com/in/ddiazdeberenguer/',
			    class: 'links' do %>
			    <%= fa_icon 'linkedin' %><% end %>


			<div class="space-bar">
				<h4>
					<small>Press the Space Bar!</small>
				</h2>
			</div>

			<p class="center" style="color:#737373;margin: 1em 0 0;">
				<small>Full site coming soon</small>
			</p>
		</div>
	</div>
</div>
