<!DOCTYPE html>
<html style="height:100%">
  <head>
    <title><%= title_helper %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height:100%">

  	<div class="container-fluid home-container">
  		<div class="row home-row">
  			<div class="col-md-3 col-lg-2 left-cols">
					<%= render 'shared/navigation' %>
  			</div>
  			<div class="col-md-9 col-lg-10 right-cols">
  				<div class="_container" style="max-width:1000px;margin:0 auto;display:block;">
  					<%= yield %>
  				</div>
  			</div>
  		</div>
  	</div>

  </body>
</html>
